Library/
Temp
obj
*.sln
*.csproj
*.unityproj
*.pidb
*.userprefs
Cubbart-csharp.v11.suo
.DS_Store
Assets/.DS_Store
Assets/Textures/.DS_Store
Assets/UnityVS.meta
Assets/UnityVS/Editor.meta
Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
UnityVS.Cubbart.sln.DotSettings
